.footer {
    padding: 2.4rem 0 1.6rem;
    background-color: var(--clr-brown-800);

    &__attribution {
        width: 100%;
        display: flex;
        gap: 0.8rem;
        align-items: center;
        flex-direction: column;
        font-size: 1.4rem;
        color: var(--clr-white);
    }

    &__link {
        color: inherit;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            opacity: 0.8;
        }
    }
}
