@media (min-width: 768px) {
    .recipe {
        padding: 0 3.2rem;

        &__cover {
            margin-left: -3.2rem;
        }
    }

    .table td:first-child {
        padding-left: 15%;
    }

    .footer__attribution {
        flex-direction: row;
        justify-content: center;
        gap: 4.8rem;
    }
}

@media (min-width: 968px) {
    .recipe {
        padding: 3.2rem 3.2rem 0;
        margin: 5rem auto;
        border-radius: 1.6rem;
    }

    .recipe__cover {
        margin: 0;
        width: 100%;
        border-radius: 1.2rem;
    }
}
