.section {
    padding: 3.2rem 0;
    border-bottom: 2px solid var(--clr-stone-150);

    &__title {
        font-size: 2.4rem;
        font-family: "Young Serif", serif;
        color: var(--clr-brown-800);
    }

    &__description {
        padding: 1.6rem 0;
    }
}
