.footer {
    padding: 4.8rem 0 3.2rem;
    background-color: var(--clr-brown-800);
}

.footer__attribution {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    flex-direction: column;
    color: var(--clr-white);
}

.footer__link {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
    opacity: 0.8;
}
