.recipe__header {
    margin-bottom: 2.4rem;
}

.recipe__image {
    width: 100%;
}

.recipe__intro {
    padding: 2.4rem;
}

.recipe__title {
    margin-bottom: 1.6rem;
    font-size: 3.2rem;
    color: var(--clr-stone-900);
    font-family: "Young Serif", serif;
}

.recipe__description {
    color: var(--clr-stone-600);
}
