.ingredients__list {
    position: relative;
}

.ingredients__item {
    display: flex;
    align-items: center;
}

.ingredients__item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 100%;
    background-color: var(--clr-brown-800);
}
