.instructions__list {
    padding: 0;
    counter-reset: item;
}

.instructions__item {
    position: relative;
    counter-increment: item;
}

.instructions__item::before {
    content: counter(item) ".";
    position: absolute;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--clr-brown-800);
}

.instructions__text {
    padding-left: 3.2rem;
}

.instructions__text > span {
    font-weight: 700;
}
