.nutrition {
    border: none;
}

.nutrition__info {
    padding: 1.6rem 0;
}

.nutrition__table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition__table td {
    padding: 1.6rem 0;
    border-bottom: 2px solid var(--clr-stone-150);
}

.nutrition__table tr:last-child td {
    padding-bottom: 0;
    border-bottom: none;
}

.nutrition__table td:first-child {
    padding-left: 10%;
    font-weight: 500;
    transition: all .7s ease-in;
}

.nutrition__table td:last-child {
    font-weight: bold;
    color: var(--clr-brown-800);
}
