* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--clr-stone-100);
    color: var(--clr-stone-600);
    font-size: 1.6rem;
}

