.recipe {
    &__hero {
        margin-bottom: 3.2rem;
    }

    &__cover {
        width: 100vw;
        object-fit: cover;
        margin-left: -2.4rem;
    }

    &__intro {
        margin-top: 2.4rem;
    }

    &__title {
        margin-bottom: 1.6rem;
        color: var(--clr-stone-900);
        font-size: 3.2rem;
        line-height: 1.2;
        font-family: "Young Serif", serif;
    }

    &__description {
        color: var(--clr-stone-600);
    }
}
