.table {
    width: 100%;
    border-collapse: collapse;

    &__row {
        &:not(:last-child) {
            border-bottom: 2px solid var(--clr-stone-150);
        }

        & td {
            padding: 1.6rem 0 1.6rem 10%;
            transition: all 0.7s ease-in;

            &:last-child {
                font-weight: bold;
                color: var(--clr-brown-800);
            }
        }

        &:last-child {
            & td {
                padding-bottom: 0;
            }
        }
    }
}
